package rearaspect

import (
	"github.com/zeze322/wt-guided-weaponry/models"
	"github.com/zeze322/wt-guided-weaponry/views/layout"
)

templ RearAspect(weapons []*models.Params) {
	@layout.Base() {
	}
}
