package home

import (
	"github.com/zeze322/wt-guided-weaponry/views/components/dropdown"
	"github.com/zeze322/wt-guided-weaponry/views/components/search"
	"github.com/zeze322/wt-guided-weaponry/views/layout"
)

templ Home() {
	@layout.Base() {
		@dropdown.DropDownMenu()
		@search.SearchInput()
		<div id="search-result"></div>
		<div>
			<table id="params"></table>
		</div>
	}
}
